@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --main-color1: #be44ad;
  --main-color2: #006fee;
  --main-color3: #ff8000;
  --red: #e60000;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fffc;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #f2f2f2;
  --gray-bg: #e7e7e7;
  --border: 0.1rem solid var(--main-color1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --gray: #ccc;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  list-style-type: none;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: url(../img/bg6.jpg) no-repeat center center/cover;
}
section {
  width: 100vw;
}
.btn {
  margin-top: 1rem;
  display: inline-block;
  border: var(--border);
  color: var(--white);
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  transition: 0.5s;
}
.btn:hover {
  background-color: var(--main-color1);
  color: var(--white);
}
.header {
  padding: 2rem 10%;
  z-index: 1;
  display: flex;
  box-shadow: var(--box-shadow);
  align-items: center;
  justify-content: space-between;
  background: url(../img/bg6.jpg) no-repeat center center/cover;
}
.header .logo {
  font-size: 2.5rem;
  color: var(--main-color1);
  text-shadow: 1px 1px 1px rgba(190, 68, 173, 0.5);
  font-weight: bold;
  position: relative;
}
.header .logo span {
  color: var(--main-color2);
  text-shadow: 1px 1px 1px rgba(0, 111, 238, 0.5);
}
.header .navbar li {
  display: inline;
}
.header .navbar a {
  font-size: 2.5rem;
  margin: 0 1rem;
  color: var(--black);
  position: relative;
}
.header .navbar span {
  font-size: 0;
  transition: 0.5s;
}
.header .navbar span.actual {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}
.header .navbar i {
  border-radius: 5px;
  margin-right: 0.5rem;
}
.navbar a:hover span {
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
}
.navbar a::after {
  content: "";
  height: 3px;
  border-radius: 15px;
  width: 0;
  background: linear-gradient(
    45deg,
    rgba(255, 128, 0, 0.9) 0%,
    rgba(190, 68, 173, 0.9) 50%,
    rgba(0, 111, 238, 0.9) 100%
  );
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}
.cta div {
  display: none;
}
.cta .show_nav {
  display: inline;
}
#user {
  font-size: 2.5rem;
  color: var(--black);
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
  font-weight: 500;
  cursor: pointer;
  display: none;
}
#user.show_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
#img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.cta button {
  background-color: var(--light-white);
  color: var(--main-color1);
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0 0.5rem;
  border: var(--border);
  transition: 0.2s;
}
.cta button:hover {
  background-color: var(--main-color1);
  color: var(--white);
}

.search {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  transform: translateY(-110%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.search.active {
  transform: translateY(0%);
}
.search-container {
  width: 100%;
  max-width: 550px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background: url(../img/bg6.jpg) no-repeat center center/cover;
  position: relative;
}
#close-btn {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1.75rem;
  background: none;
  cursor: pointer;
}
legend {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

label {
  font-size: 1.5rem;
  margin: auto 0;
  padding: 1rem;
}

input[type="search"],
input[type="date"] {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  background: none;
  border: 1px solid var(--gray);
  width: 100%;
  margin: auto 0.5rem;
}

input[type="search"]:focus,
input[type="date"]:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

fieldset > div {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

fieldset > div > * {
  flex: 2;
}
input[type="search"] {
  flex: 4;
}
.submit-search {
  display: flex;
}
.submit-search > * {
  flex: 1;
}
.submit-search input {
  flex: 9;
}
.submit-search .order {
  font-size: 2rem;
  font-weight: normal;
  margin: auto 1rem;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  color: var(--black);
  border: 1px solid var(--black);
  cursor: pointer;
}
.submit-search .order.active {
  background-color: var(--main-color2);
  border: 1px solid var(--main-color2);
  color: var(--white);
}

input[type="button"],
input[type="submit"] {
  background-color: var(--main-color1);
  color: var(--white);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  text-align: center;
  width: 30%;
  border: none;
}

input[type="button"]:hover,
input[type="submit"]:hover {
  opacity: 0.9;
}

input[type="range"] {
  flex: 3;
  appearance: none;
  border-radius: 5px;
  background-color: var(--gray);
  outline: none;
  max-height: 0.75rem;
  margin: auto 1rem;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--main-color2);
  cursor: pointer;
  margin-top: 0px;
}
#price-value {
  flex: 1;
  text-align: center;
  margin: auto 0;
  font-size: 1.5rem;
  font-weight: 500;
}
#price-value::after {
  content: " €";
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: translateX(110%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.cart.active {
  transform: translateX(0%);
}
.cart .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.cart .product {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 1rem;
  background: url(../img/bg6.jpg) no-repeat center center/cover;
  width: 100%;
}
.cart .product button {
  background: none;
}
.cart .product img {
  min-width: 150px;
  width: 150px;
  height: 90px;
  transition: 0.5s;
}
.cart .products:hover img {
  filter: blur(1px);
}
.cart .product:hover img {
  filter: none;
}

.cart .product a {
  color: var(--black);
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  width: 15rem;
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
}
.cart .product .dates {
  font-weight: 500;
}
.cart .product .price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--main-color1);
}
.cart .product .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}
.cart .product .quantity i {
  position: relative;
  color: var(--white);
  font-size: 1.5rem;
  transition: 0.3s;
  margin: 1rem;
  padding: 0.5rem;
  background-color: var(--main-color3);
  border-radius: 5px;
  border: 1px solid var(--main-color3);
  cursor: pointer;
}
.cart .product .quantity i:hover {
  color: var(--main-color3);
  transform: scale(1.1);
  background: none;
}
.cart .product .quantity i input {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  padding: 1.2rem;
  border: 1px solid transparent;
  background: none;
}
.cart .product .quantity span {
  font-size: 1.5rem;
  width: 1rem;
  padding: 0 auto;
}

.cart i.fa-trash {
  font-size: 2rem;
  padding: 1rem 1.25rem;
  margin: 1rem 1.25rem;
  color: var(--red);
  background: none;
  border: 1px solid var(--red);
  transition: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
.cart i.fa-trash:hover {
  color: var(--light-white);
  background-color: var(--red);
}
.cart .prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  background: url(../img/bg6.jpg) no-repeat center center/cover;
}
.cart .prices .container {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  padding-bottom: 1rem;
}
.cart .prices h1 {
  font-size: 1.75rem;
}
.cart .prices .container .value {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
  border-top: 1px solid var(--light-black);
}
.cart .prices .value:nth-child(3) {
  border-top: none;
  background-color: #d7ffc2;
}
.cart .prices a {
  background-color: var(--main-color3);
  color: var(--white);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s;
  text-align: end;
  border: none;
  margin-top: 2rem;
}
.cart .prices a:hover {
  background-color: #ffad33;
  color: var(--white);
}
.cart .dates::after {
  content: "";
  margin: 0 0.25rem;
}
.cart .price::after,
.prices .sub-total::after,
.prices .discount::after,
.prices .total::after {
  content: " €";
}
.cart .fa-rotate {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--main-color1);
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}
.cart .fa-rotate:hover {
  transform: scale(1.2);
  color: var(--main-color1);
  background-color: var(--light-bg);
}

.featured-destinations {
  padding: 0 4% 5rem 4%;
}
.destinations-title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  margin-bottom: -2rem;
}

.destinations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.destination-card {
  background-color: var(--light-white);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  overflow: hidden;
  width: 30%;
  margin: 1.666%;
  transition: 0.5s;
}

.destination-card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  transition: 0.5s;
}
.destination-card img:hover {
  transform: scale(1.1);
}
.destination-card h3 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.destination-card p {
  text-align: center;
  margin: 2rem;
  font-size: 1.25rem;
}

.destination-card a {
  display: block;
  margin: 0 auto;
  max-width: fit-content;
  margin-bottom: 1.5rem;
  color: var(--white);
  background-color: var(--main-color2);
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}
.destination-card a:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.footer {
  background: url(../img/bg4.jpg) no-repeat center center/cover;
  color: var(--black);
  font-size: 2vmin;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  padding-bottom: 0;
  margin-bottom: 2rem;
}
.footer-content .container {
  display: flex;
  flex: 2;
}
.footer-section.about {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-section.about span {
  color: var(--main-color1);
}
.footer-section.about > * {
  margin: 1rem;
}
.footer-section.about p {
  max-width: 500px;
}
.footer-section.about .contact p:first-child {
  margin-bottom: 0.5rem;
}
.footer-section.about .contact p {
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 50px;
  border: var(--border);
  text-transform: none;
}
.footer-section.about .contact span {
  display: block;
  margin-bottom: 0.5rem;
}

.footer-section.about .socials i {
  color: var(--white);
  margin-right: 2rem;
  font-size: 3vmin;
  transition: 0.5s;
}
.footer-section.about .socials i:hover {
  transform: scale(1.3);
}
.quick-links {
  flex: 1;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.quick-links h2 {
  margin-bottom: 2rem;
}
.quick-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.quick-links li {
  margin-bottom: 10px;
}
.quick-links a {
  color: var(--black);
  text-decoration: none;
  transition: 0.3s;
}
.quick-links a:hover {
  color: var(--white);
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-form h2 {
  font-size: 3.5vmin;
  margin-bottom: 2rem;
}
.contact-form input[type="email"],
.contact-form textarea {
  background-color: var(--light-bg);
  color: var(--black);
  padding: 1rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  font-size: 2vmin;
  width: 100%;
  text-transform: none;
}

.contact-form textarea {
  height: 50%;
  resize: none;
}

.contact-form button[type="submit"] {
  margin-top: 0;
  border: none;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--main-color1);
  color: #fff;
  font-size: 2vmin;
  cursor: pointer;
  text-align: center;
}

.contact-form button[type="submit"]:hover {
  background-color: var(--light-bg);
  color: var(--main-color1);
}
.footer hr {
  border-top: 1px solid var(--light-bg);
  margin: 2rem auto;
  margin-top: 0;
  width: 50%;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--light-black),
    transparent
  );
}
.footer-bottom {
  margin-top: 1rem;
  text-align: center;
}
.footer-bottom span {
  background-color: #111;
  color: #fff;
  padding: 1rem;
  border-radius: 50px;
}
.footer-bottom span a {
  text-decoration: none;
  color: var(--main-color1);
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#scroll-top-btn {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 3;
  border: none;
  outline: none;
  background-color: var(--white);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: var(--main-color1);
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  display: none;
}

#scroll-top-btn:hover {
  background-color: var(--light-bg);
}

.fa-chevron-up {
  font-size: 25px;
}

#scroll-top-btn.visible {
  display: block;
}

@media (max-width: 1300px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 1170px) {
  .header {
    padding: 3rem 2rem;
  }
  .cart .product {
    gap: 1rem;
  }
  .cart .products {
    gap: 1rem;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 55%;
  }
  .cta button span {
    display: none;
  }
  .search-container {
    width: 500px;
  }
  .cart {
    flex-direction: column;
  }
  .cart .products.actif {
    animation: flip-vertical-right 0.5s both;
  }
  .cart .prices.actif {
    animation: flip-vertical-right 0.5s both;
  }
  @keyframes flip-vertical-right {
    0% {
      transform: scale(0.1) rotateY(-180deg);
    }
    100% {
      transform: scale(1) rotateY(0);
    }
  }
  .cart .prices.inactif {
    display: none;
  }
  .cart .products.inactif {
    display: none;
  }
  .cart .fa-rotate.show {
    display: inline;
  }
}
@media (max-width: 900px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
    position: relative;
    z-index: 3;
  }
  #menu-btn.fa-times {
    transform: rotate(90deg);
  }
  .header .logo {
    padding-left: 0.5rem;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: linear-gradient(
      45deg,
      rgba(255, 128, 0, 0.9) 0%,
      rgba(190, 68, 173, 0.9) 50%,
      rgba(0, 111, 238, 0.9) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    transition: 0.5s;
    transform: translateX(-110%);
    z-index: 2;
  }
  .header .navbar.active {
    transform: translateX(0%);
  }
  .header .navbar li {
    margin: 0 3rem;
    display: block;
  }
  .cta button {
    margin: 0 0.25rem;
  }
  .cart .product img {
    min-width: 100px;
    width: 120px;
    height: 70px;
  }
  .destinations-title {
    height: 15vh;
    font-size: 2.5rem;
  }
  .destination-card {
    width: 450px;
    margin: 2rem;
  }
  .footer-content {
    flex-direction: column;
  }
  .contact-form {
    justify-content: flex-start;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .search-container {
    width: 450px;
  }
  .featured-destinations {
    padding: 0 3% 5rem 3%;
  }
  .destination-card {
    min-width: 320px;
    width: 400px;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 50%;
  }
  .search-container {
    width: 400px;
  }
  fieldset > div {
    flex-direction: column;
  }
  input[type="search"],
  input[type="date"] {
    margin: 0.5rem 0.5rem;
  }
  .submit-search {
    flex-direction: row;
  }
  #price-value {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cart .product img {
    width: 90px;
    height: 60px;
  }
  .destination-card img {
    height: 200px;
  }
  .offer-image {
    height: 200px;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 40%;
  }
  .search-container {
    width: 350px;
  }
  .destination-card img {
    height: 175px;
  }
}
